@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
#001524 : Rich Black
#62A87C : Mint
#7EE081 : Light Green
#C3F3C0 : Tea Green
#A599B5 : Rose Quartz 
*/

body {
  background-color: #001524;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: azure;
}
